.categoriesDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.categoryDiv {
    width: 100px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #f0f0f0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.categoryDiv h4 {
    font-size: 1em;    
}

.categoryDiv:hover {
    /* border-color: var(--color-primary-dark); */
    background-color: var(--color-primary-light);
    color: white;
}

.selectedCategoryDiv {
    /* border-color: var(--color-primary-dark); */
    background-color: var(--color-primary-light);
    color: white;
}

@media (max-width: 300px) {
    .categoryDiv h4 {
        font-size: 0.6em;
    }
}