@import '../../styles/global.css';

.productCard {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--shadow-md);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
}

.productCard:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-lg);
}

.productImage {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.productImg { 
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.productCard:hover .productImg {
  transform: scale(1.05);
}

.productOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.3));
}

.productInfo {
  padding: 1.25rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.productInfo h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.25rem;
  color: var(--text-color);
  font-family: "Story Script", sans-serif;
}

.productInStock {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
}

.productOutOfStock {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-text-red);
}

.productDescription {
  margin: 0 0 1rem 0;
  color: var(--text-secondary);
  font-size: 0.9rem;
  line-height: 1.5;
  flex-grow: 1;
}

.productPrice {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-color);
  margin: 0.5rem 0 1rem 0;
}

.viewButton {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: auto;
}

.viewButton:hover {
  background-color: var(--color-primary-light);
}

@media (max-width: 768px) {
  .productCard {

  }
}
 

@media (max-width: 425px) {
  .productCard {
    width: 300px;
  }
}