.libertinus-keyboard-regular {
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

main {
  flex: 1;
  width: 100%;
  padding-top: 80px; /* Space for fixed header */
}
